In [22]:
import yfinance as yf
import pandas as pd
from datetime import datetime

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  3 of 3 completed
[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2007-01-03,38.680000,39.060001,38.049999,38.700001,38.700001,12405100
2007-01-04,38.590000,39.139999,38.259998,38.900002,38.900002,6318400
2007-01-05,38.720001,38.790001,37.599998,38.369999,38.369999,6619700
2007-01-08,38.220001,38.310001,37.169998,37.500000,37.500000,6783000
2007-01-09,37.599998,38.060001,37.340000,37.779999,37.779999,5703000
...,...,...,...,...,...,...
2016-10-13,829.000000,831.799988,821.210022,829.280029,829.280029,3091400
2016-10-14,835.080017,835.739990,822.960022,822.960022,822.960022,2999800
2016-10-17,821.500000,822.000000,811.679993,812.950012,812.950012,3361500
2016-10-18,822.109985,823.260010,815.020020,817.650024,817.650024,2512500
2016-10-19,820.400024,820.669983,815.169983,817.690002,817.690002,2090700